.header{
    background-color: cornflowerblue;
}
.foot{

    width: 600px;
    height: 150px;
    background-color: darkseagreen;
    text-anchor: initial;
    bottom: auto;
}
a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    
}