.header{
    background-color: cornflowerblue;
}

.main{
    margin: 0;
    padding: 0;
    width: 600px;
    height: auto;;
}
.txt{

    font-family: monospace;
    font-size: 30px;
    background-color: darkkhaki;
    border: darkmagenta 6px dotted;
}
.foot{

    width: 600px;
    height: 150px;
    background-color: darkseagreen;
    text-anchor: initial;
    bottom: auto;
}
a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    

}